@import "variables";


header {
    color: $text-color;
}

body {
    background-color: $background-color;
    }

main {
    color: $text-color;
    }

p   {
     color: $text-color;
     font-family: $font;

     }